
  <section class ="home" >
  <img src="../../assets/banner.jpg">
    <div class="homecontent">
    <h1><b>Bags That Will Make You Feel Confident And Fashionable Always</b></h1>
   <!-- <a href="#" class="btn btn-lg btn-light">Discover Collection</a> &nbsp;
    <a href="#" class="btn-btn-lg btn-primary">SignUP</a> -->

    </div>
  </section> 
    
  
  <div class="row">
    <div class="column">
      <img src="../../assets/bag1.jpg" alt="Card image cap" style="width:100%">
     
      <p class="card-text"><B>RS-1000-/</B><br><b>SMALL DIOR BOOK TOTE</b>
       <br> <b>Fluorescent Pink Toile de Jouy Transparent Canvas (26.5 x 21 x 14 cm)</b>
       <b> Reference: M1265ZRVJ_M956.</b></p>
       <a href="cart" class="btn btn-lg btn-light">Buy Now</a> &nbsp;
    </div>
    <div class="column">
      <img src="../../assets/bag2.jpg" alt="forest" style="width:100%">
      <p class="card-text"><B>RS-1000-/</B><br><b>SMALL DIOR BOOK TOTE</b>
        <br> <b>Fluorescent orange Toile de Jouy Transparent Canvas (26.5 x 21 x 14 cm)</b>
        <b> Reference: M1265ZRVJ_56.</b></p>
      <a href="cart" class="btn btn-lg btn-light">Buy Now</a> &nbsp;
    </div>
    <div class="column">
      <img src="../../assets/bag3.jpg" alt="mountain" style="width:100%">
      <p class="card-text"><B>RS-1000-/</B><br><b>SMALL DIOR BOOK TOTE</b>
        <br> <b>Fluorescent orange Toile de Jouy Transparent Canvas (26.5 x 21 x 14 cm)</b>
        <b> Reference: M1265ZRVJ_M6.</b></p>
      <a href="user" class="btn btn-lg btn-light">Buy Now</a> &nbsp;
    </div>
  </div>













  


  